In [71]:
import pandas as pd
import os
%mode minimal
pd.set_option("mode.copy_on_write", False)

UsageError: Line magic function `%mode` not found.

In [72]:
import googlemaps

In [73]:
API_KEY = "AIzaSyDSLNp3eGjEjdPNavQ7jTRGyrswavChx4c"

In [74]:
gmaps = googlemaps.Client(key=API_KEY)

In [75]:
#result = gmaps.geocode(address='stralsund knieperstraße 20a', region='de')
#result

In [76]:
#file = './data/cordis_eu_2020/organization2023.csv'

file = './data/cordis_eu_2020/organization.csv'

In [77]:
o = pd.read_csv(file, sep=';', decimal=',')

In [78]:
o.to_pickle("data/cordis_eu_2020/organization_geo.pickle")

In [79]:
o.head()

,projectID,projectAcronym,organisationID,vatNumber,name,shortName,SME,activityType,street,postCode,...,contactForm,contentUpdateDate,rcn,order,role,ecContribution,netEcContribution,totalCost,endOfParticipation,active
0,888561,Mag-Spin,902814406,TR6100510390,MAGSPIN ILERI TEKNOLOJI MALZEMELERIARASTIRMA G...,MAGSPIN ADVANCED TECHNOLOGY MATERIALS RESEARCH,True,PRC,75 YIL OSB BILIM CAD 1/4 ODUNPAZARI,26110,...,https://ec.europa.eu/info/funding-tenders/oppo...,2022-08-17 14:28:09,1962417,1,coordinator,50000,50000,71429.0,False,NaN
1,673504,EcoVel,934522736,DE285486096,COIN CONSULTING GMBH,COIN CONSULTING UG,True,PRC,FRONDENBERGER STRASSE 75,58706,...,https://ec.europa.eu/info/funding-tenders/oppo...,2022-08-11 10:58:18,2542946,1,coordinator,50000,50000,71429.0,False,NaN
2,832274,WAVESHIELD,965262424,FR18499425551,CORSO MAGENTA,CORSO MAGENTA,True,PRC,22/24 RUE LAVOISIER,92000,...,https://ec.europa.eu/info/funding-tenders/oppo...,2022-08-11 20:24:19,2180023,1,coordinator,50000,50000,71429.0,False,NaN
3,678520,LocalOrder,999901609,IL589931187,TEL AVIV UNIVERSITY,TAU,False,HES,RAMAT AVIV,69978,...,https://ec.europa.eu/info/funding-tenders/oppo...,2022-07-26 11:18:25,1906451,1,coordinator,1136904,1136904,1136904.0,False,NaN
4,644859,SOMATCH,967204461,IT07224340963,HOLONIX SRL,HOLONIX,True,PRC,CORSO ITALIA 8,20821,...,https://ec.europa.eu/info/funding-tenders/oppo...,2023-04-05 13:07:10,1956053,5,participant,176750,176750,252500.0,False,NaN

In [80]:
o.dtypes

projectID               int64
projectAcronym         object
organisationID          int64
vatNumber              object
name                   object
shortName              object
SME                    object
activityType           object
street                 object
postCode               object
city                   object
country                object
nutsCode              float64
geolocation            object
organizationURL        object
contactForm            object
contentUpdateDate      object
rcn                     int64
order                   int64
role                   object
ecContribution         object
netEcContribution      object
totalCost             float64
endOfParticipation       bool
active                 object
dtype: object

### Achtung nummerischer Datentyp:
- `totalCost`ist deutsch formatiert mit `,` als Dezimaltrenner -> ok
- `exContribution` und netEcContribution haben. Diese sind noch ein `string`und müssten noch mit `astype()` in eine Zahl konvertiert werden.

In [81]:
o.columns

Index(['projectID', 'projectAcronym', 'organisationID', 'vatNumber', 'name',
       'shortName', 'SME', 'activityType', 'street', 'postCode', 'city',
       'country', 'nutsCode', 'geolocation', 'organizationURL', 'contactForm',
       'contentUpdateDate', 'rcn', 'order', 'role', 'ecContribution',
       'netEcContribution', 'totalCost', 'endOfParticipation', 'active'],
      dtype='object')

`geolocation` ist bereits eine Länge/Breite, aber das ignorieren wir zunächst und machen uns ein eigenes Geocoding. Wir können später mit dieser Information vergleichen.

In [82]:
o =o[["organisationID", "name", "street", "postCode", "city", "country", "geolocation"]]
o.head(2)

,organisationID,name,street,postCode,city,country,geolocation
0,902814406,MAGSPIN ILERI TEKNOLOJI MALZEMELERIARASTIRMA G...,75 YIL OSB BILIM CAD 1/4 ODUNPAZARI,26110,ESKISEHIR,TR,"39.7666813,30.5255947"
1,934522736,COIN CONSULTING GMBH,FRONDENBERGER STRASSE 75,58706,MENDEN,DE,"51.4450543,7.7847289"

### Duplikate entfernen (jede Organisation und damit Adresse nur einmal)

In [83]:
o.shape

(177871, 7)

In [84]:
o["organisationID"].nunique()

41547

In [85]:
print(f'Anzahl Zeilen:     {o.shape[0]:,}')
print(f'Anzahl Organisationen:     {o["organisationID"].nunique():,}')

Anzahl Zeilen:     177,871
Anzahl Organisationen:     41,547

In [86]:
o = o.drop_duplicates()
o.shape

(41615, 7)

Warum jetzt eine unterschiedliche Anzahl an Organisation?

In [87]:
o["organisationID"].duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
177866    False
177867    False
177868    False
177869    False
177870    False
Name: organisationID, Length: 41615, dtype: bool

Warum jetzt eine unterschiedliche Anzahl an Organisationen?...

In [88]:
o.loc[o.duplicated(subset="organisationID", keep=False)]

,organisationID,name,street,postCode,city,country,geolocation
249,999975717,UNIVERSITY COLLEGE CORK - NATIONAL UNIVERSITY...,WESTERN ROAD,T12 YN60,Cork,IE,NaN
328,999842342,UNIVERSITEA NATIONALA DE STIINTA SITEHNOLOGIE ...,SPLAIUL INDEPENDENTEI 313 SECT 6,060042,Bucharest,RO,"44.4453879,26.0381427"
405,965054262,MITTETULUNDUSUHING TARTU REGIOONI ENERGIAAGENTUUR,NARVA MNT 3,51009,Tartu,EE,"58.3563531,26.6769753"
1188,965782441,SKF GMBH,GUNNAR WESTER STRASSE 12,97421,Schweinfurt,DE,"50.03916925,10.2248410557626"
1193,911932309,SKF MARINE GMBH,HERMANN BLOHM STRASSE 5,20457,Hamburg,DE,"53.5357793,9.967916453965085"
...,...,...,...,...,...,...,...
177376,950667804,ABUNDANCE INVESTMENT LTD,16 LINEN HOUSE 253 KILBURN LANE,W10 4BQ,LONDON,UK,"51.5073219,-0.1276474"
177380,995129985,EPIA SOLARPOWER EUROPE,ROND POINT SCHUMAN 3,1040,BRUXELLES,BE,"50.8465573,4.351697"
177662,905630704,EUROPEAN NUCLEAR EDUCATION NETWORK,EGMONTSTRAAT 11,1000,BRUSSEL,BE,"50.8389849,4.3655356"
177711,914792063,CEDECS-TCBL,RUE DU DOCTEUR LEROY 16,72000,LE MANS,FR,"48.002757,0.195944"
177794,905026879,GERMAN ENTREPRENEURSHIP GMBH,GESCHWISTER-SCHOLL-PLATZ 1,80539,MUNCHEN,DE,"48.1508795,11.5801207"

Also hier nur Unterschiede in der Groß-/Kleinschreibung

In [89]:
o = o.drop_duplicates(subset="organisationID")
o.shape

(41547, 7)

### Funktion um eine Adresse zu konvertieren

In [90]:
def GeoCode (row):
    lat = None
    lng = None
    formatted_address = None
    place_id = None
    # Geocodierung
    adress = row["postCode"], row["city"], row["street"], row["name"]
    r = gmaps.geocode(address=adress, region=row["country"])
    # geocode result ist 0, 1, oder viele (mehrdeutige) Adressen
    adresses_found = len(r)
    if adresses_found: #bei vielen Adressen die Erste
        lat = r[0]['geometry']['location']['lat']
        lng = r[0]['geometry']['location']['lng']
        formatted_address = r[0]['formatted_address']
        place_id = r[0]['place_id']
    return pd.Series({"lat": lat, "lng": lng, "formatted_address": formatted_address, "place_id":place_id})

In [91]:
GeoCode(o.iloc[0])

lat                                              44.375274
lng                                               5.205791
formatted_address    26110 Châteauneuf-de-Bordette, France
place_id                       ChIJERTPVpmFyhIRsEbkQS6rCBw
dtype: object

### Und jetzt das Geld verbrauchen: Geocoding durchführen

In [92]:
o.sample(3).apply(lambda row: GeoCode(row), axis='columns')

,lat,lng,formatted_address,place_id
20435,52.217186,20.962116,"02-305 Warsaw, Poland",ChIJVdvwnljLHkcRCjT1C7xHHDk
60257,NaN,NaN,None,None
40991,NaN,NaN,None,None

### Die früheren Geo-Ergebnisse berücksichtigen, um Doppelarbeit zu vermeiden

In [93]:
file_geo = 'data/cordis_eu_2020/organization_geo.pickle'
if os.path.exists(file_geo):
    o_geo = pd.read_pickle(file_geo)
else:
    o_geo = None
o_geo.sample(1)

,projectID,projectAcronym,organisationID,vatNumber,name,shortName,SME,activityType,street,postCode,...,contactForm,contentUpdateDate,rcn,order,role,ecContribution,netEcContribution,totalCost,endOfParticipation,active
27430,783112,AAL2,991247948,FR13420916918,AIRBUS OPERATIONS SAS,AIRBUS OPERATIONS,False,PRC,ROUTE DE BAYONNE 316,31060,...,https://ec.europa.eu/info/funding-tenders/oppo...,2022-08-18 10:44:15,1905685,2,thirdParty,0,126087.28,180124.69,False,NaN

In [94]:
from IPython.core.interactiveshell import InteractiveShell

In [95]:
InteractiveShell.ast_node_interactivity = "all"
if isinstance(o_geo, pd.core.frame.DataFrame):
    o_geo.sample(1)

,projectID,projectAcronym,organisationID,vatNumber,name,shortName,SME,activityType,street,postCode,...,contactForm,contentUpdateDate,rcn,order,role,ecContribution,netEcContribution,totalCost,endOfParticipation,active
73883,824433,INSULAE,906978422,DK36463821,FREMSYN APS,NaN,True,PRC,ORDRUP JAGTVEJ 110B,2920,...,https://ec.europa.eu/info/funding-tenders/oppo...,2023-02-26 20:43:18,1956522,17,participant,518875,518875,741250.0,False,NaN

In [96]:
o_geo.columns

Index(['projectID', 'projectAcronym', 'organisationID', 'vatNumber', 'name',
       'shortName', 'SME', 'activityType', 'street', 'postCode', 'city',
       'country', 'nutsCode', 'geolocation', 'organizationURL', 'contactForm',
       'contentUpdateDate', 'rcn', 'order', 'role', 'ecContribution',
       'netEcContribution', 'totalCost', 'endOfParticipation', 'active'],
      dtype='object')

In [97]:
if isinstance(o_geo, pd.core.frame.DataFrame):
    o_geo = o_geo[["organisationID", "lat", "lng", "formatted_address", "place_id"]]
    o.merge(o_geo, how='left', left_on='organisationID', right_on='organisationID')

KeyError: "['lat', 'lng', 'formatted_address', 'place_id'] not in index"

### Produktiver: alles rechnen und aufheben

In [ ]:
from datetime import datetime as dt

In [98]:
o[["lat", "lng", "formatted_address", "place_id"]] = o.apply(lambda row: GeoCode(row), axis='columns')

KeyboardInterrupt:

In [ ]:
o.to_pickle(file)