# HAUSAUFGABE KAPITEL 2 AUFGABEN 1-3

### Daten laden

In [2]:
import pandas as pd
import os
%xmode minimal
import re
pd.set_option("mode.copy_on_write", True)

Exception reporting mode: Minimal

https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv

In [3]:
url = 'https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv'
file = 'data/titanic_2_original.pickle' # Damit es local gespeichert wird

if os.path.exists(file):
    t = pd.read_pickle(file)
else:
    t = pd.read_csv(url)
    t.to_pickle(file)
t.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
719,720,0,3,"Johnson, Mr. Malkolm Joackim",male,33.0,0,0,347062,7.7750,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
695,696,0,2,"Chapman, Mr. Charles Henry",male,52.0,0,0,248731,13.5000,NaN,S
400,401,1,3,"Niskanen, Mr. Juha",male,39.0,0,0,STON/O 2. 3101289,7.9250,NaN,S
767,768,0,3,"Mangan, Miss. Mary",female,30.5,0,0,364850,7.7500,NaN,Q
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.0,0,0,345779,9.5000,NaN,S
295,296,0,1,"Lewy, Mr. Ervin G",male,NaN,0,0,PC 17612,27.7208,NaN,C
398,399,0,2,"Pain, Dr. Alfred",male,23.0,0,0,244278,10.5000,NaN,S
321,322,0,3,"Danoff, Mr. Yoto",male,27.0,0,0,349219,7.8958,NaN,S

In [4]:
url = 'https://hbiostat.org/data/repo/titanic5.xlsx'
file = 'data/titanic_original.pickle' # Damit es local gespeichert wird

if os.path.exists(file):
    t2 = pd.read_pickle(file)
else:
    t2 = pd.read_excel(url, sheet_name='Titanic5_all', dtype_backend='numpy_nullable')
    t2.to_pickle(file)
t2.sample(2)

,Name_ID,Name,Female,Male,Sex,Age,Class/Dept,Class,Ticket,Joined,...,Title,First,DoB,Year_Birth,Date_Death,DoB_Clean,Age_F_Code,Age_F,sibsp,parch
764,1094,"KHALIL, Mr Betros",0,1,male,25.0,3rd Class Passenger,3,2660,Cherbourg,...,Mr,Betros,NaT,NaN,1912-04-15 00:00:00,NaN,A,25.0,1.0,0.0
633,1901,"SPECTOR, Mr Woolf",0,1,male,23.0,3rd Class Passenger,3,3236,Southampton,...,Mr,Woolf,NaT,1889,1912-04-15 00:00:00,6/30/1889,M,22.0,0.0,0.0

# Aufgabe 1 Erste Analyse Datensatz

### 1.1. Ist der Datensatz vollständig?
Untersuchen Sie ggf. ein konkretes Beispiel für einen Passagier oder andere Quellen.

In [5]:
# Zählen der fehlenden Werte in jeder Spalte
missing_values = t.isnull().sum()

# Zählen der NaN Werte
nan_values = t.isna().sum()

print(f'Fehlende Werte: {missing_values}')

Fehlende Werte: PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
print(f'NaN Werte: {nan_values}')

NaN Werte: PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### 1.2. Wo fehlt es konkret noch an Verständnis der Semantik?
Nennen Sie Spaltenname(n) und die Fragen dazu.

Aus dem gegebenen Ausschnitt der Tabelle, der Daten von Passagieren eines Schiffes (wahrscheinlich der Titanic) zu enthalten scheint, können einige Spaltennamen und ihre Bedeutungen sofort identifiziert werden, während andere möglicherweise klärungsbedürftig sind. Hier sind die Spalten mit einer kurzen Erklärung und möglichen Fragen zur Klärung:

1. **PassengerId**: Eine eindeutige Identifikationsnummer für jeden Passagier.
   - *Frage*: Gibt es eine besondere Bedeutung oder Ordnung in der Vergabe dieser IDs?

2. **Survived**: Ein Indikator, ob der Passagier das Unglück überlebt hat (1 für überlebt, 0 für nicht überlebt).
   - *Frage*: Gibt es detailliertere Informationen über die Umstände des Überlebens oder Nicht-Überlebens?

3. **Pclass**: Die Passagierklasse, die oft die sozioökonomische Klasse widerspiegelt (1 für Erste Klasse, 2 für Zweite Klasse, 3 für Dritte Klasse).
   - *Frage*: Inwieweit bestimmt die Pclass die Unterbringung und Dienstleistungen an Bord?

4. **Name**: Der vollständige Name des Passagiers.
   - *Frage*: Gibt es eine standardisierte Formatierung der Namen?

5. **Sex**: Das Geschlecht des Passagiers (männlich/weiblich).
   - *Frage*: Werden Geschlechter nur binär aufgezeichnet oder gibt es Aufzeichnungen von nicht-binären oder anderen Geschlechtsidentitäten?

6. **Age**: Das Alter des Passagiers.
   - *Frage*: Wie genau ist das Alter aufgezeichnet? Sind es gerundete oder genaue Zahlen?

7. **SibSp**: Die Anzahl der Geschwister/Ehepartner an Bord.
   - *Frage*: Was genau zählt als "Geschwister/Ehepartner"? Sind dies nur Blutsverwandte und rechtlich anerkannte Ehepartner?

8. **Parch**: Die Anzahl der Eltern/Kinder an Bord.
   - *Frage*: Sind hier sowohl direkte Eltern-Kind-Beziehungen als auch Stief- oder Adoptivverhältnisse eingeschlossen?

9. **Ticket**: Die Ticketnummer.
   - *Frage*: Folgt die Ticketnummer einem bestimmten Muster oder System?

10. **Fare**: Der gezahlte Fahrpreis.
    - *Frage*: Ist dieser Preis in einer spezifischen Währung angegeben? Beinhaltet er alle Kosten an Bord?

11. **Cabin**: Die Kabinennummer.
    - *Frage*: Wie ist die Kabinennummer strukturiert? Gibt es eine Beziehung zur Pclass?

12. **Embarked**: Der Einschiffungshafen (C = Cherbourg, Q = Queenstown, S = Southampton).
    - *Frage*: Hat der Einschiffungshafen eine besondere Bedeutung, z.B. in Bezug auf die Passagierdemografie?

Diese Fragen sollen dazu beitragen, ein tieferes Verständnis der Daten und ihrer möglichen Auswirkungen auf Analysen oder Schlussfolgerungen zu erlangen.

Währungsumrechnung

In [7]:
t2["Fare"]=(
    t2["Price"]
    .str.extract(r'(£(\d+))?(\s+(\d+)s)?(\s+(\d+)d)?')    # £20 11s 6d
    .drop(columns=[0,2,4])
    .rename(columns={1: "pfund",3: "shilling",5:"pence"})
    .astype("Int32")
    .fillna(0)
    .assign(Fare = lambda df: df["pfund"] + df["shilling"]/20 + df["pence"]/20/12)
    ["Fare"]
)

t2.sample(3)[["Price","Fare"]]

          Price       Fare
1180                   0.0
578   £83 3s 2d  83.158333
1417                   0.0

# Aufgabe 2 Datenformat

### 2.1
Verändern Sie „Embarked“, so dass statt dem Kürzel der entsprechende Hafen
genannt wird.

In [8]:
t.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
# Funktion, um den ersten Buchstaben eines Strings zu extrahieren
def first_letter(string):
    return re.match(r'^.', string).group() #nach einem beliebigen einzelnen Zeichen am Anfang gesucht wird. `^`Anfang der Zeile `.`irgendein einzelnes Zeichen

# Füge eine neue Spalte in t2 hinzu, die den ersten Buchstaben jedes Stadtnamens enthält
t2['first_letter'] = t2['Joined'].apply(first_letter)

# Erstelle ein Wörterbuch, das den ersten Buchstaben einem vollen Stadtnamen zuordnet
letter_to_city = dict(zip(t2['first_letter'], t2['Joined']))

# Aktualisiere die 'embarked' Spalte in t, indem du die entsprechenden Stadtnamen einfügst
t['Embarked'] = t['Embarked'].map(letter_to_city)

In [10]:
t.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,Southampton
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,Cherbourg
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,Southampton
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,Southampton
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,Southampton

### 2.2
Formatieren Sie „Fare“ als Zahl mit zwei Nachkommastellen.
Was passiert mit dem Datentyp? Ist das gut?

In [11]:
t.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [12]:

# Runde die 'Fare'-Spalte auf zwei Nachkommastellen
t['Fare'] = t['Fare'].round(2)

In [13]:
t.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Andere Möglichkeit

In [14]:
format = lambda x: f'{x:.2f}'

--> Fare Datentyp bleibt gleich???

### 2.3
Was passiert, wenn sie map() auf Null-Werte anwenden?

Standardverhalten: Standardmäßig werden NaN-Werte von map() ignoriert und bleiben als NaN im resultierenden DataFrame oder der Serie erhalten. Das bedeutet, dass, wenn ein NaN-Wert auftritt, er nach der Anwendung von map() weiterhin als NaN vorhanden sein wird.

In [15]:
import pandas as pd
import numpy as np

# Erstelle eine Serie mit einigen NaN-Werten
s = pd.Series([1, 2, np.nan, 4])

# Verwende map() mit einem Wörterbuch
mapped_s = s.map({1: 'one', 2: 'two', 4: 'four'})

print(mapped_s)

0     one
1     two
2     NaN
3    four
dtype: object

Beispiel mit Nan-Default wert

In [16]:
import numpy as np

# Erstelle eine Serie mit einigen NaN-Werten
s = pd.Series([1, 2, np.nan, 4])

# Erstelle ein Mapping-Wörterbuch, das auch NaN-Werte berücksichtigt
mapping = {1: 'one', 2: 'two', 4: 'four', np.nan: 'missing'}

# Verwende map() mit dem angepassten Wörterbuch
mapped_s = s.map(mapping)

print(mapped_s)

0        one
1        two
2    missing
3       four
dtype: object

### 2.4
Ergänzen Sie 2.1 indem Sie auch ein Default-Mapping für Null-Werte definieren.

In [17]:
nan_wert = pd.NA

In [18]:
(t["Embarked"]==nan_wert).sum()

0

In [19]:
# Funktion, um den ersten Buchstaben eines Strings zu extrahieren
def first_letter(string):
    return re.match(r'^.', string).group()

# Füge eine neue Spalte in t2 hinzu, die den ersten Buchstaben jedes Stadtnamens enthält
t2['first_letter'] = t2['Joined'].apply(first_letter)

# Erstelle ein Wörterbuch, das den ersten Buchstaben einem vollen Stadtnamen zuordnet
letter_to_city = dict(zip(t2['first_letter'], t2['Joined']))

letter_to_city["NaN"] = "Missing City"

# print(letter_to_city)
# Aktualisiere die 'embarked' Spalte in t, indem du die entsprechenden Stadtnamen einfügst
t['Embarked'] = t['Embarked'].map(letter_to_city)

In [20]:
t.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.28,C85,NaN
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92,NaN,NaN

In [21]:
(t["Embarked"]=="Missing City").sum()

0

### 2.5
Was passiert, wenn Sie Werte in der Spalte haben, für die Sie kein Mapping
definiert haben? Beispiel: In der Sex-Spalte steht neben „male“, „female“ auch
„Mann“.

In [22]:
s = pd.Series([1,2,3,4])

mapping = {1:"Eins",2:"Zwei",4:"Vier"}

mapped_s = s.map(mapping)

print(mapped_s)

0    Eins
1    Zwei
2     NaN
3    Vier
dtype: object

Es wird ein NaN-Wert eingetragen

### 2.6
Sie wollen basierend auf „Age“ jeweils einen Satz ausgeben. Beispiel: „Ich bin 33
Jahre alt.“ ausgeben. Vermeiden Sie den Satz „Ich bin nan Jahre alt.

In [23]:
# Funktion, um einen Satz basierend auf dem Alter zu erstellen
def age_sentence(age):
    if pd.isna(age):  # Überprüfen, ob der Wert NaN ist
        return None  # Keine Ausgabe für NaN-Werte
    else:
        return f"Ich bin {int(age)} Jahre alt."

# Anwenden der Funktion auf jede Zeile der Spalte 'Age'
sentences = t['Age'].apply(age_sentence)

# Ausgeben der Sätze
for sentence in sentences:
    if sentence is not None:
        print(sentence)

Ich bin 22 Jahre alt.
Ich bin 38 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 54 Jahre alt.
Ich bin 2 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 14 Jahre alt.
Ich bin 4 Jahre alt.
Ich bin 58 Jahre alt.
Ich bin 20 Jahre alt.
Ich bin 39 Jahre alt.
Ich bin 14 Jahre alt.
Ich bin 55 Jahre alt.
Ich bin 2 Jahre alt.
Ich bin 31 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 34 Jahre alt.
Ich bin 15 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 8 Jahre alt.
Ich bin 38 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 40 Jahre alt.
Ich bin 66 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 42 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 14 Jahre alt.
Ich bin 40 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 3 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 7 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 49 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 65 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 5 Jahre alt.
Ich bin 11 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 38 Jahre alt.
Ich bin 45 Jahre alt.
Ich bin 4 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 17 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 16 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 0 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 17 Jahre alt.
Ich bin 33 Jahre alt.
Ich bin 16 Jahre alt.
Ich bin 23 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 20 Jahre alt.
Ich bin 46 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 59 Jahre alt.
Ich bin 71 Jahre alt.
Ich bin 23 Jahre alt.
Ich bin 34 Jahre alt.
Ich bin 34 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 33 Jahre alt.
Ich bin 37 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 38 Jahre alt.
Ich bin 47 Jahre alt.
Ich bin 14 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 20 Jahre alt.
Ich bin 17 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 70 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 2 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 54 Jahre alt.
Ich bin 12 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 45 Jahre alt.
Ich bin 33 Jahre alt.
Ich bin 20 Jahre alt.
Ich bin 47 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 23 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 37 Jahre alt.
Ich bin 16 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 9 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 42 Jahre alt.
Ich bin 51 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 55 Jahre alt.
Ich bin 40 Jahre alt.
Ich bin 51 Jahre alt.
Ich bin 16 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 44 Jahre alt.
Ich bin 40 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 17 Jahre alt.
Ich bin 1 Jahre alt.
Ich bin 9 Jahre alt.
Ich bin 45 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 61 Jahre alt.
Ich bin 4 Jahre alt.
Ich bin 1 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 56 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 50 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 9 Jahre alt.
Ich bin 1 Jahre alt.
Ich bin 4 Jahre alt.
Ich bin 45 Jahre alt.
Ich bin 40 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 3 Jahre alt.
Ich bin 44 Jahre alt.
Ich bin 58 Jahre alt.
Ich bin 42 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 34 Jahre alt.
Ich bin 45 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 2 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 16 Jahre alt.
Ich bin 40 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 31 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 42 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 16 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 51 Jahre alt.
Ich bin 38 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 20 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 59 Jahre alt.
Ich bin 5 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 44 Jahre alt.
Ich bin 8 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 33 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 44 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 37 Jahre alt.
Ich bin 54 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 62 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 41 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 50 Jahre alt.
Ich bin 3 Jahre alt.
Ich bin 52 Jahre alt.
Ich bin 40 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 16 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 58 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 41 Jahre alt.
Ich bin 37 Jahre alt.
Ich bin 63 Jahre alt.
Ich bin 45 Jahre alt.
Ich bin 7 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 65 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 16 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 33 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 42 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 23 Jahre alt.
Ich bin 2 Jahre alt.
Ich bin 50 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 0 Jahre alt.
Ich bin 17 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 43 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 54 Jahre alt.
Ich bin 31 Jahre alt.
Ich bin 40 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 61 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 31 Jahre alt.
Ich bin 16 Jahre alt.
Ich bin 45 Jahre alt.
Ich bin 38 Jahre alt.
Ich bin 16 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 41 Jahre alt.
Ich bin 45 Jahre alt.
Ich bin 45 Jahre alt.
Ich bin 2 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 40 Jahre alt.
Ich bin 3 Jahre alt.
Ich bin 42 Jahre alt.
Ich bin 23 Jahre alt.
Ich bin 15 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 38 Jahre alt.
Ich bin 40 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 45 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 60 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 3 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 20 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 42 Jahre alt.
Ich bin 1 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 1 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 17 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 23 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 31 Jahre alt.
Ich bin 46 Jahre alt.
Ich bin 23 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 39 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 20 Jahre alt.
Ich bin 34 Jahre alt.
Ich bin 51 Jahre alt.
Ich bin 3 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 33 Jahre alt.
Ich bin 44 Jahre alt.
Ich bin 34 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 10 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 42 Jahre alt.
Ich bin 17 Jahre alt.
Ich bin 50 Jahre alt.
Ich bin 14 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 64 Jahre alt.
Ich bin 31 Jahre alt.
Ich bin 45 Jahre alt.
Ich bin 20 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 4 Jahre alt.
Ich bin 13 Jahre alt.
Ich bin 34 Jahre alt.
Ich bin 5 Jahre alt.
Ich bin 52 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 49 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 65 Jahre alt.
Ich bin 50 Jahre alt.
Ich bin 48 Jahre alt.
Ich bin 34 Jahre alt.
Ich bin 47 Jahre alt.
Ich bin 48 Jahre alt.
Ich bin 38 Jahre alt.
Ich bin 56 Jahre alt.
Ich bin 0 Jahre alt.
Ich bin 38 Jahre alt.
Ich bin 33 Jahre alt.
Ich bin 23 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 34 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 2 Jahre alt.
Ich bin 9 Jahre alt.
Ich bin 50 Jahre alt.
Ich bin 63 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 58 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 9 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 55 Jahre alt.
Ich bin 71 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 54 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 17 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 37 Jahre alt.
Ich bin 16 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 33 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 54 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 47 Jahre alt.
Ich bin 34 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 44 Jahre alt.
Ich bin 40 Jahre alt.
Ich bin 50 Jahre alt.
Ich bin 39 Jahre alt.
Ich bin 23 Jahre alt.
Ich bin 2 Jahre alt.
Ich bin 17 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 7 Jahre alt.
Ich bin 45 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 9 Jahre alt.
Ich bin 11 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 50 Jahre alt.
Ich bin 64 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 33 Jahre alt.
Ich bin 8 Jahre alt.
Ich bin 17 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 62 Jahre alt.
Ich bin 48 Jahre alt.
Ich bin 39 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 40 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 62 Jahre alt.
Ich bin 53 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 16 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 34 Jahre alt.
Ich bin 39 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 39 Jahre alt.
Ich bin 54 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 47 Jahre alt.
Ich bin 60 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 52 Jahre alt.
Ich bin 47 Jahre alt.
Ich bin 37 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 49 Jahre alt.
Ich bin 49 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 44 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 40 Jahre alt.
Ich bin 39 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 34 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 4 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 42 Jahre alt.
Ich bin 20 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 61 Jahre alt.
Ich bin 57 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 80 Jahre alt.
Ich bin 51 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 9 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 31 Jahre alt.
Ich bin 41 Jahre alt.
Ich bin 20 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 2 Jahre alt.
Ich bin 0 Jahre alt.
Ich bin 48 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 56 Jahre alt.
Ich bin 23 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 23 Jahre alt.
Ich bin 58 Jahre alt.
Ich bin 50 Jahre alt.
Ich bin 40 Jahre alt.
Ich bin 47 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 20 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 43 Jahre alt.
Ich bin 40 Jahre alt.
Ich bin 31 Jahre alt.
Ich bin 70 Jahre alt.
Ich bin 31 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 43 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 20 Jahre alt.
Ich bin 14 Jahre alt.
Ich bin 60 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 14 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 15 Jahre alt.
Ich bin 31 Jahre alt.
Ich bin 4 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 60 Jahre alt.
Ich bin 52 Jahre alt.
Ich bin 44 Jahre alt.
Ich bin 49 Jahre alt.
Ich bin 42 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 39 Jahre alt.
Ich bin 45 Jahre alt.
Ich bin 42 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 48 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 52 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 38 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 33 Jahre alt.
Ich bin 6 Jahre alt.
Ich bin 17 Jahre alt.
Ich bin 34 Jahre alt.
Ich bin 50 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 20 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 11 Jahre alt.
Ich bin 23 Jahre alt.
Ich bin 23 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 48 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 31 Jahre alt.
Ich bin 70 Jahre alt.
Ich bin 16 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 31 Jahre alt.
Ich bin 4 Jahre alt.
Ich bin 6 Jahre alt.
Ich bin 33 Jahre alt.
Ich bin 23 Jahre alt.
Ich bin 48 Jahre alt.
Ich bin 0 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 34 Jahre alt.
Ich bin 33 Jahre alt.
Ich bin 41 Jahre alt.
Ich bin 20 Jahre alt.
Ich bin 36 Jahre alt.
Ich bin 16 Jahre alt.
Ich bin 51 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 48 Jahre alt.
Ich bin 57 Jahre alt.
Ich bin 54 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 5 Jahre alt.
Ich bin 43 Jahre alt.
Ich bin 13 Jahre alt.
Ich bin 17 Jahre alt.
Ich bin 29 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 8 Jahre alt.
Ich bin 1 Jahre alt.
Ich bin 46 Jahre alt.
Ich bin 16 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 39 Jahre alt.
Ich bin 49 Jahre alt.
Ich bin 31 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 34 Jahre alt.
Ich bin 31 Jahre alt.
Ich bin 11 Jahre alt.
Ich bin 0 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 31 Jahre alt.
Ich bin 39 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 39 Jahre alt.
Ich bin 33 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 39 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 6 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 23 Jahre alt.
Ich bin 31 Jahre alt.
Ich bin 43 Jahre alt.
Ich bin 10 Jahre alt.
Ich bin 52 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 38 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 2 Jahre alt.
Ich bin 1 Jahre alt.
Ich bin 62 Jahre alt.
Ich bin 15 Jahre alt.
Ich bin 0 Jahre alt.
Ich bin 23 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 39 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 32 Jahre alt.
Ich bin 20 Jahre alt.
Ich bin 16 Jahre alt.
Ich bin 30 Jahre alt.
Ich bin 34 Jahre alt.
Ich bin 17 Jahre alt.
Ich bin 42 Jahre alt.
Ich bin 35 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 4 Jahre alt.
Ich bin 74 Jahre alt.
Ich bin 9 Jahre alt.
Ich bin 16 Jahre alt.
Ich bin 44 Jahre alt.
Ich bin 18 Jahre alt.
Ich bin 45 Jahre alt.
Ich bin 51 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 41 Jahre alt.
Ich bin 21 Jahre alt.
Ich bin 48 Jahre alt.
Ich bin 24 Jahre alt.
Ich bin 42 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 31 Jahre alt.
Ich bin 4 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 47 Jahre alt.
Ich bin 33 Jahre alt.
Ich bin 47 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 15 Jahre alt.
Ich bin 20 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 56 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 33 Jahre alt.
Ich bin 22 Jahre alt.
Ich bin 28 Jahre alt.
Ich bin 25 Jahre alt.
Ich bin 39 Jahre alt.
Ich bin 27 Jahre alt.
Ich bin 19 Jahre alt.
Ich bin 26 Jahre alt.
Ich bin 32 Jahre alt.

Alternativ

In [24]:
#satz = 
#t["Age"].map(satz, na_action='ignore')

In [25]:
"Ich bin " + t2["Age"].astype("string") + " Alt"

0       Ich bin 0.17 Alt
1       Ich bin 0.33 Alt
2       Ich bin 0.42 Alt
3       Ich bin 0.58 Alt
4       Ich bin 0.58 Alt
              ...
2203                <NA>
2204                <NA>
2205                <NA>
2206                <NA>
2207                <NA>
Name: Age, Length: 2208, dtype: string

### 2.7
 Bauen Sie ein (chained) Kommando, welches auf die Passagiere der ersten Klasse
filtert und dann die Spalte „Sex“ auf die Werte M / F / X abbildet.

In [26]:
# Mapping-Wörterbuch für die Sex-Spalte
sex_mapping = {
    'male': 'M',
    'female': 'F',
    'non-binary': 'X'  # Annahme eines Werts für neutrales/neutrale Geschlecht
}

# Filtern nach erster Klasse und Abbilden der Sex-Spalte mit loc
t.loc[t['Pclass'] == 1, 'Sex'] = t.loc[t['Pclass'] == 1, 'Sex'].map(sex_mapping)

In [27]:
t.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",F,38.0,1,0,PC 17599,71.28,C85,NaN
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92,NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",F,35.0,1,0,113803,53.10,C123,NaN
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,NaN,NaN
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.46,NaN,NaN
6,7,0,1,"McCarthy, Mr. Timothy J",M,54.0,0,0,17463,51.86,E46,NaN
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.08,NaN,NaN
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.13,NaN,NaN
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.07,NaN,NaN

# Aufgabe 3 String Vektoroperationen

### 3.1
Wandeln Sie die Spalte „Cabin“ in Kleinbuchstaben um.
a) Verwenden Sie die passende String Vektorfunktion.

In [28]:
t["Cabin"]=t["Cabin"].str.lower()

In [29]:
t.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",F,38.0,1,0,PC 17599,71.28,c85,NaN
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92,NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",F,35.0,1,0,113803,53.10,c123,NaN
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,NaN,NaN
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.46,NaN,NaN
6,7,0,1,"McCarthy, Mr. Timothy J",M,54.0,0,0,17463,51.86,e46,NaN
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.08,NaN,NaN
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.13,NaN,NaN
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.07,NaN,NaN


b) Verwenden Sie .map() und rufen damit elementweise die Python Funktion str.lower auf.

In [30]:
# t["Cabin"].map(lambda x: x.str.lower())


c) Was geht bei b) schief und warum?

Die Fehlermeldung, die Sie erhalten haben, deutet darauf hin, dass einige der Werte in der Cabin-Spalte Ihres DataFrames vom Typ float sind, wahrscheinlich aufgrund von NaN-Werten (fehlende Daten). Die str-Methoden in Pandas, wie str.lower(), können nur auf Strings angewendet werden, nicht auf floats.

### 3.2

Ermitteln Sie die Nachnamen der Passagiere (jeweils nur der erste Name).

In [31]:

# Funktion, um den Vornamen zu extrahieren
def extrahiere_vornamen(name):
    match = re.search(r'^([^,]+),', name)
    if match:
        return match.group(1)  # Der Text nach dem Komma
    return None  # Rückgabe von None, falls kein Match vorhanden

# Erstelle eine neue Spalte 'Vornamen' durch Anwenden der Funktion
t['Nachname'] = t['Name'].apply(extrahiere_vornamen)

t.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Nachname
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,NaN,Braund
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",F,38.0,1,0,PC 17599,71.28,c85,NaN,Cumings
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92,NaN,NaN,Heikkinen
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",F,35.0,1,0,113803,53.10,c123,NaN,Futrelle
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,NaN,NaN,Allen

- `^`: Dies markiert den Anfang des Strings.
- `([^,]+)`: 
  - Die eckigen Klammern `[ ]` definieren eine Zeichenklasse.
  - `^` innerhalb der eckigen Klammern bedeutet "nicht". Also `[^,]` entspricht "jedem Zeichen außer einem Komma".
  - Das Pluszeichen `+` bedeutet "eins oder mehr von den vorangehenden Elementen". In diesem Fall also "eins oder mehr von jedem Zeichen, das kein Komma ist".
- `,`: Das Komma am Ende des Musters stellt sicher, dass das Muster aufhört, sobald ein Komma im Text gefunden wird.

In [32]:
t["Name"].str.split(',').str.get(0)

0         Braund
1        Cumings
2      Heikkinen
3       Futrelle
4          Allen
         ...
886     Montvila
887       Graham
888     Johnston
889         Behr
890       Dooley
Name: Name, Length: 891, dtype: object

### 3.3
Die Kabinennummer besteht aus dem Deck und einer Raumnummer.

a) Ermitteln Sie das Deck aus der Kabinennummer.

In [33]:
t['Deck'] = t['Cabin'].str.extract(r'^([A-Za-z])')

Alternativ

In [34]:
t['Cabin'].str.get(0)

0      NaN
1        c
2      NaN
3        c
4      NaN
      ...
886    NaN
887      b
888    NaN
889      c
890    NaN
Name: Cabin, Length: 891, dtype: object

In [35]:
t.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Nachname,Deck
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,NaN,Braund,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",F,38.0,1,0,PC 17599,71.28,c85,NaN,Cumings,c

b) Eine Kabinennummer sieht z.B. so aus: „C34“. Überprüfen Sie, ob alle Kabinennummer
diese Form haben.

In [36]:
t['Valid_Format'] = t['Cabin'].apply(lambda x: bool(re.match(r'^[A-Za-z]\d+$', x)) if pd.notna(x) else None)

- `^`: Dieses Zeichen markiert den Anfang des Strings. Das Muster wird nur übereinstimmen, wenn die folgenden Bedingungen direkt am Anfang des Strings erfüllt sind.

- `[A-Za-z]`: Diese Zeichenklasse entspricht genau einem Buchstaben. `A-Za-z` deckt alle Groß- und Kleinbuchstaben des lateinischen Alphabets ab. Das bedeutet, dass der String mit genau einem Buchstaben beginnen muss.

- `\d+`: 
  - `\d` steht für "digit" (Ziffer) und entspricht einem numerischen Zeichen (0-9).
  - Das Pluszeichen `+` bedeutet "eins oder mehr von den vorangehenden Elementen". In diesem Fall also "eins oder mehr Ziffern".

- `$`: Dieses Zeichen markiert das Ende des Strings. Das bedeutet, dass die vorherigen Bedingungen bis zum Ende des Strings erfüllt sein müssen.

In [44]:
ok = t['Cabin'].notna() & t["Cabin"].str.contains(r'^\w\d+$')
t.loc[~ok]["Cabin"].shape
t.shape

(891, 15)

In [ ]:
t.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,Nachname,Deck,Valid_Format,Title,Predicted_Sex,Match,Salute,Vorname,Age class
0,1,0,3,"Braund, Mr. Owen Harris",M,22.0,1,0,A/5 21171,7.25,...,NaN,Braund,NaN,None,Mr.,M,True,Mr.,Owen Harris,"(18, 67]"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",F,38.0,1,0,PC 17599,71.28,...,NaN,Cumings,c,True,Mrs.,F,True,Mrs.,John Bradley,"(18, 67]"

c) Wie ist die Beziehung zwischen Deck und Klasse?

In [ ]:
deck_class_relation = t.groupby(['Deck', 'Pclass']).size().unstack(fill_value=0)

print(deck_class_relation)

Pclass   1  2  3
Deck
a       15  0  0
b       47  0  0
c       59  0  0
d       29  4  0
e       25  4  3
f        0  8  5
g        0  0  4
t        1  0  0

### 3.4
Zerlegen Sie die Namen in alle Bestandteile (Anrede, Nachname, Vornamen,
Mädchenname). Nicht so schnell aufgeben, dass erfordert etwas Mühe.


a) Hierzu sollte man mit einem komplexeren Namensbeispiel starten und dessen Aufbau
analysieren (Erst kommen die Nachname(n), dann ein Komma, dann…).

In [ ]:
# a) Extrahieren der Anrede
t['Title'] = t['Name'].str.extract(r'\b(Mr\.|Mrs\.|Miss|Ms\.)', expand=False)

t.head(25)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Nachname,Deck,Valid_Format,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,NaN,Braund,NaN,None,Mr.
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",F,38.0,1,0,PC 17599,71.28,c85,NaN,Cumings,c,True,Mrs.
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92,NaN,NaN,Heikkinen,NaN,None,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",F,35.0,1,0,113803,53.10,c123,NaN,Futrelle,c,True,Mrs.
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,NaN,NaN,Allen,NaN,None,Mr.
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.46,NaN,NaN,Moran,NaN,None,Mr.
6,7,0,1,"McCarthy, Mr. Timothy J",M,54.0,0,0,17463,51.86,e46,NaN,McCarthy,e,True,Mr.
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.08,NaN,NaN,Palsson,NaN,None,NaN
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.13,NaN,NaN,Johnson,NaN,None,Mrs.
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.07,NaN,NaN,Nasser,NaN,None,Mrs.
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.70,g6,NaN,Sandstrom,g,True,Miss
11,12,1,1,"Bonnell, Miss. Elizabeth",F,58.0,0,0,113783,26.55,c103,NaN,Bonnell,c,True,Miss
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.05,NaN,NaN,Saundercock,NaN,None,Mr.
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.28,NaN,NaN,Andersson,NaN,None,Mr.
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.85,NaN,NaN,Vestrom,NaN,None,Miss
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.00,NaN,NaN,Hewlett,NaN,None,Mrs.
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.12,NaN,NaN,Rice,NaN,None,NaN
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.00,NaN,NaN,Williams,NaN,None,Mr.
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.00,NaN,NaN,Vander Planke,NaN,None,Mrs.
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.22,NaN,NaN,Masselmani,NaN,None,Mrs.
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.00,NaN,NaN,Fynney,NaN,None,Mr.
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.00,d56,NaN,Beesley,d,True,Mr.
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.03,NaN,NaN,McGowan,NaN,None,Miss
23,24,1,1,"Sloper, Mr. William Thompson",M,28.0,0,0,113788,35.50,a6,NaN,Sloper,a,True,Mr.
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.08,NaN,NaN,Palsson,NaN,None,Miss

- `\b`: Dies ist ein Wortgrenzen-Anker, der sicherstellt, dass das Muster nur übereinstimmt, wenn es am Anfang eines Wortes steht. Dies verhindert, dass das Muster inmitten von Wörtern übereinstimmt.

- `(Mr\.|Mrs\.|Miss|Ms\.)`: Dies ist eine Gruppe, die aus mehreren Alternativen besteht, getrennt durch das Pipe-Zeichen `|`, was "oder" bedeutet. Das Muster übereinstimmt, wenn einer der folgenden Fälle im Text gefunden wird:
  - `Mr\.`: Die Anrede "Mr." (mit einem Punkt, da `\.` einen literalen Punkt darstellt, nicht irgendein Zeichen, wie es bei `.` der Fall wäre).
  - `Mrs\.`: Die Anrede "Mrs.".
  - `Miss`: Das Wort "Miss".
  - `Ms\.`: Die Anrede "Ms.".

In [ ]:
t['Name'].str.extract(r'(\b\w+\.)', expand=False).unique()

array(['Mr.', 'Mrs.', 'Miss.', 'Master.', 'Don.', 'Rev.', 'Dr.', 'Mme.',
       'Ms.', 'Major.', 'Lady.', 'Sir.', 'Mlle.', 'Col.', 'Capt.',
       'Countess.', 'Jonkheer.'], dtype=object)

In [ ]:
# b) Zuordnung der Anrede zu einem vermuteten Geschlecht
gender_map = {'Mr.': 'M', 'Mrs.': 'F', 'Miss': 'F', 'Ms.': 'F'}
t['Predicted_Sex'] = t['Title'].map(gender_map)

t.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Nachname,Deck,Valid_Format,Title,Predicted_Sex
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,NaN,Braund,NaN,None,Mr.,M
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",F,38.0,1,0,PC 17599,71.28,c85,NaN,Cumings,c,True,Mrs.,F
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92,NaN,NaN,Heikkinen,NaN,None,Miss,F
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",F,35.0,1,0,113803,53.10,c123,NaN,Futrelle,c,True,Mrs.,F
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,NaN,NaN,Allen,NaN,None,Mr.,M

In [ ]:
#Sex Spalte umformatieren in M und F
# Mapping-Wörterbuch für die Sex-Spalte
sex_mapping = {
    'male': 'M',
    'female': 'F',
    'F':'F',
    'M': 'M'

}

# Filtern nach erster Klasse und Abbilden der Sex-Spalte mit loc
t['Sex'] = t['Sex'].map(sex_mapping)

t.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Nachname,Deck,Valid_Format,Title,Predicted_Sex
0,1,0,3,"Braund, Mr. Owen Harris",M,22.0,1,0,A/5 21171,7.25,NaN,NaN,Braund,NaN,None,Mr.,M
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",F,38.0,1,0,PC 17599,71.28,c85,NaN,Cumings,c,True,Mrs.,F
2,3,1,3,"Heikkinen, Miss. Laina",F,26.0,0,0,STON/O2. 3101282,7.92,NaN,NaN,Heikkinen,NaN,None,Miss,F
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",F,35.0,1,0,113803,53.10,c123,NaN,Futrelle,c,True,Mrs.,F
4,5,0,3,"Allen, Mr. William Henry",M,35.0,0,0,373450,8.05,NaN,NaN,Allen,NaN,None,Mr.,M

In [ ]:
# c) Vergleich des vermuteten Geschlechts mit dem tatsächlichen Geschlecht
t['Match'] = t['Sex'] == t['Predicted_Sex']

print(t.loc[t["Match"], 'Match'].sum())
print(t.shape)

825
(891, 18)

Ergänzung

In [ ]:
t["Salute"] = t['Name'].str.extract(r'(\b\w+\.)', expand=False)

In [ ]:
t.groupby(by=["Salute","Sex"]).size()

Salute     Sex
Capt.      M        1
Col.       M        2
Countess.  F        1
Don.       M        1
Dr.        F        1
           M        6
Jonkheer.  M        1
Lady.      F        1
Major.     M        2
Master.    M       40
Miss.      F      182
Mlle.      F        2
Mme.       F        1
Mr.        M      517
Mrs.       F      125
Ms.        F        1
Rev.       M        6
Sir.       M        1
dtype: int64

### 3.6

Zerlegen Sie die Namen in alle Bestandteile (Anrede, Nachname, Vornamen,
Mädchenname). Nicht so schnell aufgeben, dass erfordert etwas Mühe.


a) Hierzu sollte man mit einem komplexeren Namensbeispiel starten und dessen Aufbau
analysieren (Erst kommen die Nachname(n), dann ein Komma, dann…).

In [ ]:
df = pd.DataFrame({
    'Name': ['Doe, Mr. John Henry', 'Smith, Mrs. Jane Alice (Johnson)', 'Adams, Miss Emily', 'Brown, Ms. Anna Marie (Clark)']
})

b) Daraus kann man dann einen regulären Ausdruck definieren.

In [ ]:
# Regulärer Ausdruck
pattern = r'^(?P<Last>[^,]+), (?P<Title>Mr\.|Mrs\.|Miss|Ms\.) (?P<First>[^(]+)(?: \((?P<Maiden>[^)]+)\))?$'

1. `^(?P<Last>[^,]+),`:
   - `^`: Signalisiert den Anfang des Strings.
   - `(?P<Last>[^,]+)`: Benannte Gruppe `Last`, die alle Zeichen bis zum ersten Komma (`[^,]+`) erfasst. `[^,]` bedeutet jedes Zeichen außer einem Komma, und `+` bedeutet "eins oder mehr davon".
<br>
<br>

2. `(?P<Title>Mr\.|Mrs\.|Miss|Ms\.)`:
   - `(?P<Title>...)`: Benannte Gruppe `Title`, die eine der Anreden erfasst. Es kann `Mr.`, `Mrs.`, `Miss` oder `Ms.` sein. Das `\.` steht für einen tatsächlichen Punkt, da ein Punkt in regulären Ausdrücken jedes Zeichen darstellen kann.
<br>
<br>

3. `(?P<First>[^(]+)`: 
   - `(?P<First>...)`: Benannte Gruppe `First`, die alle Zeichen nach dem Titel und vor einer öffnenden Klammer `(` (falls vorhanden) erfasst. `[^(]+` bedeutet jedes Zeichen außer einer öffnenden Klammer, und `+` bedeutet wieder "eins oder mehr davon".
<br>
<br>

4. `(?: \((?P<Maiden>[^)]+)\))?`:
   - `(?:...)`: Ein nicht erfassender Gruppierungsteil, der für die Klammerung im Ausdruck verwendet wird, aber nicht als separate Gruppe erfasst wird.
   - `\((?P<Maiden>[^)]+)\)`: Eine optionale benannte Gruppe `Maiden`, die innerhalb von Klammern stehende Zeichen erfasst. `[^)]+` bedeutet jedes Zeichen außer einer schließenden Klammer, und `+` bedeutet "eins oder mehr davon".
   - `?` am Ende macht den gesamten Klammerausdruck optional.


c) Ermitteln Sie den Vornamen jeder Person (für ledige und verheiratete).

In [ ]:
# Extrahieren der Namensbestandteile
name_parts = t['Name'].str.extract(pattern)

In [ ]:
# Hinzufügen der 'Vornamen' Spalte zum DataFrame
t['Vorname'] = name_parts['First'].str.strip()

t.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Nachname,Deck,Valid_Format,Title,Predicted_Sex,Match,Salute,Vorname
0,1,0,3,"Braund, Mr. Owen Harris",M,22.0,1,0,A/5 21171,7.25,NaN,NaN,Braund,NaN,None,Mr.,M,True,Mr.,Owen Harris
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",F,38.0,1,0,PC 17599,71.28,c85,NaN,Cumings,c,True,Mrs.,F,True,Mrs.,John Bradley
2,3,1,3,"Heikkinen, Miss. Laina",F,26.0,0,0,STON/O2. 3101282,7.92,NaN,NaN,Heikkinen,NaN,None,Miss,F,True,Miss.,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",F,35.0,1,0,113803,53.10,c123,NaN,Futrelle,c,True,Mrs.,F,True,Mrs.,Jacques Heath
4,5,0,3,"Allen, Mr. William Henry",M,35.0,0,0,373450,8.05,NaN,NaN,Allen,NaN,None,Mr.,M,True,Mr.,William Henry


d) Welche Vornamen waren beliebt?

In [ ]:
# Beliebte Vornamen ermitteln
popular_first_names = t['Vorname'].value_counts()

print(popular_first_names)

William            11
James               9
John                8
Samuel              5
Joseph              5
                   ..
George John Jr      1
Albert Francis      1
Yoto                1
Frederic Oakley     1
Karl Howell         1
Name: Vorname, Length: 495, dtype: int64

# Aufgabe 4. Bins
4.1. Lösen Sie das Beispiel aus der Vorlesung ohne die Methode pd.cut() zu
verwenden.

In [ ]:
bins = [0, 12, 18, 67, 100]
labels = ['baby', 'teenager', 'worker', 'elder']

t["Age class"] = pd.cut(t["Age"], bins=bins) # , lables=lables

t.groupby(by="Age class", dropna=False, observed=True).size() # Observed = True um Warning zu beheben

Age class
(0, 12]       69
(12, 18]      70
(18, 67]     568
(67, 100]      7
dtype: int64

In [ ]:
def age_class(age):
    if pd.isna(age): return pd.NA
    if age <= 12: return 'child'
    if age <= 18: return 'teenager'
    if age <= 18: return 'worker'
    if age <= 18: return 'elder'
    return pd.NA

t2["Age"].map(age_class)

0       child
1       child
2       child
3       child
4       child
        ...
2203     <NA>
2204     <NA>
2205     <NA>
2206     <NA>
2207     <NA>
Name: Age, Length: 2208, dtype: object

In [ ]:
def age_class(row):
    print(row)
    print('------------------------')
t.apply(age_class, axis='columns')

PassengerId                            1
Survived                               0
Pclass                                 3
Name             Braund, Mr. Owen Harris
Sex                                    M
Age                                 22.0
SibSp                                  1
Parch                                  0
Ticket                         A/5 21171
Fare                                7.25
Cabin                                NaN
Embarked                             NaN
Nachname                          Braund
Deck                                 NaN
Valid_Format                        None
Title                                Mr.
Predicted_Sex                          M
Match                               True
Salute                               Mr.
Vorname                      Owen Harris
Age class                       (18, 67]
Name: 0, dtype: object
------------------------
PassengerId                                                      2
Survived                                                         1
Pclass                                                           1
Name             Cumings, Mrs. John Bradley (Florence Briggs Th...
Sex                                                              F
Age                                                           38.0
SibSp                                                            1
Parch                                                            0
Ticket                                                    PC 17599
Fare                                                         71.28
Cabin                                                          c85
Embarked                                                       NaN
Nachname                                                   Cumings
Deck                                                             c
Valid_Format                                                  True
Title                                                         Mrs.
Predicted_Sex                                                    F
Match                                                         True
Salute                                                        Mrs.
Vorname                                               John Bradley
Age class                                                 (18, 67]
Name: 1, dtype: object
------------------------
PassengerId                           3
Survived                              1
Pclass                                3
Name             Heikkinen, Miss. Laina
Sex                                   F
Age                                26.0
SibSp                                 0
Parch                                 0
Ticket                 STON/O2. 3101282
Fare                               7.92
Cabin                               NaN
Embarked                            NaN
Nachname                      Heikkinen
Deck                                NaN
Valid_Format                       None
Title                              Miss
Predicted_Sex                         F
Match                              True
Salute                            Miss.
Vorname                             NaN
Age class                      (18, 67]
Name: 2, dtype: object
------------------------
PassengerId                                                 4
Survived                                                    1
Pclass                                                      1
Name             Futrelle, Mrs. Jacques Heath (Lily May Peel)
Sex                                                         F
Age                                                      35.0
SibSp                                                       1
Parch                                                       0
Ticket                                                 113803
Fare                                                     53.1
Cabin                                                    c123
Embarked                                                  NaN
Nachname                                             Futrelle
Deck                                                        c
Valid_Format                                             True
Title                                                    Mrs.
Predicted_Sex                                               F
Match                                                    True
Salute                                                   Mrs.
Vorname                                         Jacques Heath
Age class                                            (18, 67]
Name: 3, dtype: object
------------------------
PassengerId                             5
Survived                                0
Pclass                                  3
Name             Allen, Mr. William Henry
Sex                                     M
Age                                  35.0
SibSp                                   0
Parch                                   0
Ticket                             373450
Fare                                 8.05
Cabin                                 NaN
Embarked                              NaN
Nachname                            Allen
Deck                                  NaN
Valid_Format                         None
Title                                 Mr.
Predicted_Sex                           M
Match                                True
Salute                                Mr.
Vorname                     William Henry
Age class                        (18, 67]
Name: 4, dtype: object
------------------------
PassengerId                     6
Survived                        0
Pclass                          3
Name             Moran, Mr. James
Sex                             M
Age                           NaN
SibSp                           0
Parch                           0
Ticket                     330877
Fare                         8.46
Cabin                         NaN
Embarked                      NaN
Nachname                    Moran
Deck                          NaN
Valid_Format                 None
Title                         Mr.
Predicted_Sex                   M
Match                        True
Salute                        Mr.
Vorname                     James
Age class                     NaN
Name: 5, dtype: object
------------------------
PassengerId                            7
Survived                               0
Pclass                                 1
Name             McCarthy, Mr. Timothy J
Sex                                    M
Age                                 54.0
SibSp                                  0
Parch                                  0
Ticket                             17463
Fare                               51.86
Cabin                                e46
Embarked                             NaN
Nachname                        McCarthy
Deck                                   e
Valid_Format                        True
Title                                Mr.
Predicted_Sex                          M
Match                               True
Salute                               Mr.
Vorname                        Timothy J
Age class                       (18, 67]
Name: 6, dtype: object
------------------------
PassengerId                                   8
Survived                                      0
Pclass                                        3
Name             Palsson, Master. Gosta Leonard
Sex                                           M
Age                                         2.0
SibSp                                         3
Parch                                         1
Ticket                                   349909
Fare                                      21.08
Cabin                                       NaN
Embarked                                    NaN
Nachname                                Palsson
Deck                                        NaN
Valid_Format                               None
Title                                       NaN
Predicted_Sex                               NaN
Match                                     False
Salute                                  Master.
Vorname                                     NaN
Age class                               (0, 12]
Name: 7, dtype: object
------------------------
PassengerId                                                      9
Survived                                                         1
Pclass                                                           3
Name             Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Sex                                                              F
Age                                                           27.0
SibSp                                                            0
Parch                                                            2
Ticket                                                      347742
Fare                                                         11.13
Cabin                                                          NaN
Embarked                                                       NaN
Nachname                                                   Johnson
Deck                                                           NaN
Valid_Format                                                  None
Title                                                         Mrs.
Predicted_Sex                                                    F
Match                                                         True
Salute                                                        Mrs.
Vorname                                                    Oscar W
Age class                                                 (18, 67]
Name: 8, dtype: object
------------------------
PassengerId                                       10
Survived                                           1
Pclass                                             2
Name             Nasser, Mrs. Nicholas (Adele Achem)
Sex                                                F
Age                                             14.0
SibSp                                              1
Parch                                              0
Ticket                                        237736
Fare                                           30.07
Cabin                                            NaN
Embarked                                         NaN
Nachname                                      Nasser
Deck                                             NaN
Valid_Format                                    None
Title                                           Mrs.
Predicted_Sex                                      F
Match                                           True
Salute                                          Mrs.
Vorname                                     Nicholas
Age class                                   (12, 18]
Name: 9, dtype: object
------------------------
PassengerId                                   11
Survived                                       1
Pclass                                         3
Name             Sandstrom, Miss. Marguerite Rut
Sex                                            F
Age                                          4.0
SibSp                                          1
Parch                                          1
Ticket                                   PP 9549
Fare                                        16.7
Cabin                                         g6
Embarked                                     NaN
Nachname                               Sandstrom
Deck                                           g
Valid_Format                                True
Title                                       Miss
Predicted_Sex                                  F
Match                                       True
Salute                                     Miss.
Vorname                                      NaN
Age class                                (0, 12]
Name: 10, dtype: object
------------------------
PassengerId                            12
Survived                                1
Pclass                                  1
Name             Bonnell, Miss. Elizabeth
Sex                                     F
Age                                  58.0
SibSp                                   0
Parch                                   0
Ticket                             113783
Fare                                26.55
Cabin                                c103
Embarked                              NaN
Nachname                          Bonnell
Deck                                    c
Valid_Format                         True
Title                                Miss
Predicted_Sex                           F
Match                                True
Salute                              Miss.
Vorname                               NaN
Age class                        (18, 67]
Name: 11, dtype: object
------------------------
PassengerId                                  13
Survived                                      0
Pclass                                        3
Name             Saundercock, Mr. William Henry
Sex                                           M
Age                                        20.0
SibSp                                         0
Parch                                         0
Ticket                                A/5. 2151
Fare                                       8.05
Cabin                                       NaN
Embarked                                    NaN
Nachname                            Saundercock
Deck                                        NaN
Valid_Format                               None
Title                                       Mr.
Predicted_Sex                                 M
Match                                      True
Salute                                      Mr.
Vorname                           William Henry
Age class                              (18, 67]
Name: 12, dtype: object
------------------------
PassengerId                               14
Survived                                   0
Pclass                                     3
Name             Andersson, Mr. Anders Johan
Sex                                        M
Age                                     39.0
SibSp                                      1
Parch                                      5
Ticket                                347082
Fare                                   31.28
Cabin                                    NaN
Embarked                                 NaN
Nachname                           Andersson
Deck                                     NaN
Valid_Format                            None
Title                                    Mr.
Predicted_Sex                              M
Match                                   True
Salute                                   Mr.
Vorname                         Anders Johan
Age class                           (18, 67]
Name: 13, dtype: object
------------------------
PassengerId                                        15
Survived                                            0
Pclass                                              3
Name             Vestrom, Miss. Hulda Amanda Adolfina
Sex                                                 F
Age                                              14.0
SibSp                                               0
Parch                                               0
Ticket                                         350406
Fare                                             7.85
Cabin                                             NaN
Embarked                                          NaN
Nachname                                      Vestrom
Deck                                              NaN
Valid_Format                                     None
Title                                            Miss
Predicted_Sex                                       F
Match                                            True
Salute                                          Miss.
Vorname                                           NaN
Age class                                    (12, 18]
Name: 14, dtype: object
------------------------
PassengerId                                    16
Survived                                        1
Pclass                                          2
Name             Hewlett, Mrs. (Mary D Kingcome)
Sex                                             F
Age                                          55.0
SibSp                                           0
Parch                                           0
Ticket                                     248706
Fare                                         16.0
Cabin                                         NaN
Embarked                                      NaN
Nachname                                  Hewlett
Deck                                          NaN
Valid_Format                                 None
Title                                        Mrs.
Predicted_Sex                                   F
Match                                        True
Salute                                       Mrs.
Vorname                                       NaN
Age class                                (18, 67]
Name: 15, dtype: object
------------------------
PassengerId                        17
Survived                            0
Pclass                              3
Name             Rice, Master. Eugene
Sex                                 M
Age                               2.0
SibSp                               4
Parch                               1
Ticket                         382652
Fare                            29.12
Cabin                             NaN
Embarked                          NaN
Nachname                         Rice
Deck                              NaN
Valid_Format                     None
Title                             NaN
Predicted_Sex                     NaN
Match                           False
Salute                        Master.
Vorname                           NaN
Age class                     (0, 12]
Name: 16, dtype: object
------------------------
PassengerId                                18
Survived                                    1
Pclass                                      2
Name             Williams, Mr. Charles Eugene
Sex                                         M
Age                                       NaN
SibSp                                       0
Parch                                       0
Ticket                                 244373
Fare                                     13.0
Cabin                                     NaN
Embarked                                  NaN
Nachname                             Williams
Deck                                      NaN
Valid_Format                             None
Title                                     Mr.
Predicted_Sex                               M
Match                                    True
Salute                                    Mr.
Vorname                        Charles Eugene
Age class                                 NaN
Name: 17, dtype: object
------------------------
PassengerId                                                     19
Survived                                                         0
Pclass                                                           3
Name             Vander Planke, Mrs. Julius (Emelia Maria Vande...
Sex                                                              F
Age                                                           31.0
SibSp                                                            1
Parch                                                            0
Ticket                                                      345763
Fare                                                          18.0
Cabin                                                          NaN
Embarked                                                       NaN
Nachname                                             Vander Planke

0      None
1      None
2      None
3      None
4      None
       ...
886    None
887    None
888    None
889    None
890    None
Length: 891, dtype: object