In [9]:
import pandas as pd
import os
%xmode minimal
pd.set_option("mode.copy_on_write", True)

Exception reporting mode: Minimal

# Data Prep Titanicm

Daten nur erstmalig von url lesen. Wenn die Daten bereits lokal sind.

In [10]:
url = 'https://hbiostat.org/data/repo/titanic5.xlsx'
file = 'data/titanic_original.pickle' # Damit es local gespeichert wird

if os.path.exists(file):
    t = pd.read_pickle(file)
else:
    t = pd.read_excel(url, sheet_name='Titanic5_all', dtype_backend='numpy_nullable')
    t.to_pickle(file)
t.sample(2)

,Name_ID,Name,Female,Male,Sex,Age,Class/Dept,Class,Ticket,Joined,...,Title,First,DoB,Year_Birth,Date_Death,DoB_Clean,Age_F_Code,Age_F,sibsp,parch
290,1243,"MAIONI, Miss Roberta Elizabeth Mary",1,0,female,19.0,1st Class Passenger,1,110152,Southampton,...,Miss,Roberta Elizabeth Mary,<NA>,1892,1963-01-17 00:00:00,6/30/1892,M,19.0,0,0
44,160,"BECKER, Miss Marion Louise",1,0,female,4.0,2nd Class Passenger,2,230136,Southampton,...,Miss,Marion Louise,1907-12-28 00:00:00,<NA>,1944-02-15 00:00:00,1907-12-28 00:00:00,C,4.0,2,1

Redundante Spalten löschen

In [11]:
t2 = t.drop(columns=["Female", "Male", "Class/Dept"])

Vorbereitete Datei zur weiterbearbeitung

In [12]:
file2 = 'data/titanic_prepared.pickle' # Damit es local gespeichert wird
t2.to_pickle(file2)

In [13]:
t2["Class"].unique()

<StringArray>
['3', '2', '1', 'V', 'R', 'E', 'D', 'B']
Length: 8, dtype: string